/* Variáveis */
:root {
    --color-light: #FFFFFF;
    --color-orange: #E56C27;
    --font-body: 'Quicksand', sans-serif;
    --gradient: linear-gradient(45deg,
            hsl(240deg 59% 15%) 0%,
            hsl(241deg 62% 14%) 15%,
            hsl(243deg 64% 14%) 37%,
            hsl(245deg 67% 13%) 55%,
            hsl(247deg 71% 12%) 69%,
            hsl(249deg 76% 12%) 78%,
            hsl(252deg 81% 11%) 86%,
            hsl(254deg 87% 11%) 91%,
            hsl(256deg 93% 10%) 96%,
            hsl(258deg 100% 10%) 100%);
}

body {
    font-family: var(--font-body);
}

.bg-blue {
    background-image: var(--gradient);
}

.text-orange {
    color: var(--color-orange) ;
}
.logo {
    font-size: 32px;
    color: var(--color-light);
}

.logo:hover {
    color: var(--color-light);
}

.container .navbar-toggler {
    box-shadow: none;
    border-color: var(--color-light);
}

.nav-link {
    font-weight: 600;    
}

.nav-link:hover {
    color: var(--color-orange) !important;
}

.icon{
    font-size: 2.5rem;
    
}